[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0103, # pylint complains about the TypeVar names https://github.com/PyCQA/pylint/issues/3324
    R0903, # too few public methods